.chatInterface {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  max-width: 600px;
  margin: auto;
  padding: 60px 0;
}

.messagesWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--interface-color);
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages > div:not(:first-child) {
  margin-top: 10px;
}

.messageText {
  flex: 1;
}

.messageText .name {
  font-size: 16px;
  font-weight: 900;
  color: var(--white-color);
}

.messageText span {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  white-space: pre-line;
  word-break: keep-all;
}

.userMessage {
  align-self: flex-end;
  max-width: 70%;
}

.userMessage .messageText {
  text-align: right;
}

.userMessage span {
  background-color: #007bff;
  color: white;
}

.userMessage .messageTimestamp {
  text-align: right;
}

.assistantMessage {
  display: flex;
  align-self: flex-start;
  max-width: 70%;
}

.assistantImg {
  border-radius: 50%;
  overflow: hidden;
  background: #e591bf;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid #aaa;
}

.assistantImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.assistantMessage span {
  background-color: var(--assistant-color);
}

.messageTimestamp {
  margin: 5px 0 0;
  font-size: 13px;
  color: var(--white-color);
}

.messageForm {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.inputField {
  flex: 1;
  width: auto !important;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inputField.disabled {
  background-color: #f0f0f0;
  color: #ccc;
}

.sendButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.sendButton.disabled {
  background-color: #f0f0f0 !important;
  color: #ccc;
}

.sendButton:hover {
  background-color: #0056b3;
}

.delete {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.delete img {
  max-width: 35px;
  filter: drop-shadow(1px 1px 2px var(--white-color));
}

.messagesHead {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: var(--white-color);
}

.coin ul {
  display: flex;
  align-items: center;
}

.coin p {
  font-weight: 900;
  margin-right: 5px;
}

.coinList {
  display: flex;
}

.coinList div {
  margin: 0 5px;
}

.coinList img {
  max-width: 35px;
  filter: drop-shadow(1px 1px 2px var(--white-color));
}

.tooltipIcon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.tooltipIcon img {
  max-width: 45px;
  filter: drop-shadow(1px 1px 2px var(--white-color));
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 80px 40px;
  border-radius: 10px;
  position: relative;
  max-width: 800px;
  width: 100%;
}

.modalText li {
  display: flex;
  align-items: center;
}

.modalText li:not(:first-child) {
  margin-top: 20px;
}

.modalText div {
  max-width: 60px;
  margin-right: 20px;
}

.modalText img {
  width: 100%;
  filter: drop-shadow(1px 1px 3px #007bff);
}

.closeModalBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.closeModalBtn img {
  max-width: 30px;
  filter: drop-shadow(1px 1px 2px #333);
}

@media screen and (max-width: 600px) {
  .chatInterface {
    margin: 0 20px;
  }

  .modalBackground {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .chatInterface {
    padding: 60px 0 20px;
  }

  .messagesWrap {
    height: 100%;
  }

  .messages {
    padding: 20px 10px;
  }

  .messages > div:not(:first-child) {
    margin-top: 5px;
  }

  .assistantImg {
    width: 50px;
    height: 50px;
  }

  .messageForm {
    margin-top: 10px;
  }

  .inputField {
    margin: 0 5px;
    font-size: 14px;
  }

  .sendButton {
    display: none;
    font-size: 14px;
  }

  .delete img {
    max-width: 30px;
  }

  .coinList div {
    margin: 0 4px;
  }

  .coinList img {
    max-width: 30px;
  }

  .modalContent {
    padding: 80px 20px;
  }

  .modalText div {
    max-width: 50px;
    margin-right: 15px;
  }

  .modalText p {
    font-size: 15px;
  }

  .closeModalBtn img {
    max-width: 25px;
  }
}

@media screen and (max-width: 380px) {
  .messageText span {
    font-size: 14px;
  }

  .assistantImg {
    width: 45px;
    height: 45px;
  }

  .sendButton {
    padding: 10px;
  }

  .coinList img {
    max-width: 25px;
  }

  .tooltipIcon img {
    max-width: 30px;
  }

  .modalText div {
    max-width: 40px;
    margin-right: 10px;
  }

  .modalText p {
    font-size: 13px;
  }
}
