/* ChatbotSelection.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Swiper 관련 스타일 */
.swiper {
  max-width: 450px;
  width: 100%;
}

:global(.swiper-slide) {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Swiper pagination (페이지네이션) 스타일링 */
:global(.swiper .swiper-pagination) {
  bottom: -40px;
}

:global(.swiper .swiper-pagination-bullet) {
  width: 20px;
  height: 4px;
  border-radius: 0;
  background: var(--black-color);
  transition: opacity 0.3s ease-in;
}

:global(.swiper .swiper-pagination-bullet-active) {
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.profileBg {
  position: relative;
  width: 100%;
  height: 200px;
  background: #a3b7c3;
}

.profileImg {
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
  width: 170px;
  height: 170px;
  background: #d7b4b4;
  border-radius: 50%;
  box-shadow: rgb(222, 222, 222) 0px 5px 10px;
  z-index: 1;
  overflow: hidden;
}

.info {
  position: relative;
  padding: 100px 40px 40px;
  width: 100%;
  background: #fff;
}

.name h2 {
  margin: 10px 0 5px;
  font-size: 24px;
  color: #333;
}

.name p {
  white-space: pre-line;
  font-size: 16px;
  color: #828282;
}

.follow .list {
  display: flex;
  margin: 30px 0 20px;
}

.follow .list > li {
  width: 50%;
}

.follow h2 {
  font-size: 26px;
  font-weight: 900;
  line-height: 1;
  color: #209cf2;
}

.follow p {
  color: #a2a2a2;
}

.follow .button {
  padding: 10px 20px;
  width: 100%;
  color: #333;
  background-color: #fed01a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 900;
}

.follow .button:hover {
  background-color: #fcc828;
}

@media screen and (max-width: 480px) {
}
