/* Login.module.css */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: var(--white-color);
}

.loginContainer article {
  display: flex;
  justify-items: center;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginContainer article > div {
  width: 50%;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #8f96c8;
}

.imgBox div {
  max-width: 300px;
  margin: 0 auto;
  filter: drop-shadow(6px 6px 10px #727272);
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  background-color: var(--modal-color);
}

.loginHead .logoImg {
  /* filter: var(--filter); */
}

.loginHead .logoImg img {
  max-width: 230px;
}

.loginHead .title {
  text-align: center;
  margin: 20px 0;
}

.loginForm input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.loginForm button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginForm button:hover {
  animation: pulse-glow 1s infinite ease-in;
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: 0 0 0 0px rgba(255, 126, 95, 0.5), 0 0 0 0px rgba(254, 180, 123, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 5px rgba(255, 126, 95, 0.5), 0 0 10px 5px rgba(254, 180, 123, 0.5);
  }
}

.signUpLink {
  margin-top: 20px;
  text-align: center;
}

.signUpLink a {
  color: var(--white-color);
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .loginContainer {
    padding: 60px 20px;
  }
}

@media screen and (max-width: 900px) {
  .loginHead .logoImg img {
    max-width: 170px;
  }
}

@media screen and (max-width: 769px) {
  .loginContainer article {
    max-width: 600px;
  }

  .loginContainer article > div {
    width: 100%;
  }

  .imgBox {
    display: none;
  }

  .formBox {
    border-radius: 10px;
  }
}
