/* Signup.module.css */
.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(var(--vh, 1vh) * 100);
  color: var(--white-color);
}

.signUpContainer article {
  display: flex;
  justify-items: center;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signUpContainer article > div {
  width: 50%;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #8f96c8;
}

.imgBox div {
  max-width: 300px;
  margin: 0 auto;
  filter: drop-shadow(6px 6px 10px #727272);
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  background-color: var(--modal-color);
}

.signUpHead .logoImg {
  filter: var(--filter);
}

.signUpHead .logoImg img {
  max-width: 230px;
}

.signUpHead .title {
  text-align: center;
  margin: 20px 0;
}

.signUpForm input,
.signUpForm select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.signUpForm select {
  padding: 10px 6px;
}

.signUpForm .nameInput {
  display: flex;
}

.signUpForm .nameInput > input:first-child {
  margin-right: 10px;
}

.signUpForm button {
  width: 100%;
  padding: 10px;
  background-color: #8f96c8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signUpForm button:hover {
  background-color: #165c9c;
}

.signUpLink {
  margin-top: 20px;
  text-align: center;
}

.signUpLink a {
  color: var(--white-color);
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .signUpContainer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .signUpHead .logoImg img {
    max-width: 170px;
  }
}

@media screen and (max-width: 769px) {
  .signUpContainer article {
    max-width: 600px;
  }

  .signUpContainer article > div {
    width: 100%;
  }

  .imgBox {
    display: none;
  }

  .formBox {
    border-radius: 10px;
  }
}
