/* Signup.module.css */
.signup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--white-color);
}

.signup_container article {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--modal-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.signup_head .logo_img {
  filter: var(--filter);
}

.signup_head .logo_img img {
  max-width: 250px;
}

.signup_head .title {
  text-align: center;
  margin: 20px 0;
}

.signup_form input,
.signup_form select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.signup_form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signup_form button:hover {
  background-color: #165c9c;
}

.signup_link {
  margin-top: 20px;
  text-align: center;
}

.signup_link a {
  color: var(--white-color);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .signup_container {
    padding: 0 20px;
  }
}
