/* Signup.module.css */
.signup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(var(--vh, 1vh) * 100);
  color: var(--white-color);
}

.signup_container article {
  display: flex;
  justify-items: center;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup_container article > div {
  width: 50%;
}

.img_box {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #8f96c8;
}

.img_box div {
  max-width: 300px;
  margin: 0 auto;
  filter: drop-shadow(6px 6px 10px #727272);
}

.form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 40px;
  border-radius: 0 10px 10px 0;
  background-color: var(--modal-color);
}

.signup_head .logo_img {
  filter: var(--filter);
}

.signup_head .logo_img img {
  max-width: 230px;
}

.signup_head .title {
  text-align: center;
  margin: 20px 0;
}

.signup_form input,
.signup_form select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.signup_form select {
  padding: 10px 6px;
}

.signup_form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signup_form button:hover {
  background-color: #165c9c;
}

.signup_link {
  margin-top: 20px;
  text-align: center;
}

.signup_link a {
  color: var(--white-color);
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .signup_container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .signup_head .logo_img img {
    max-width: 170px;
  }
}

@media screen and (max-width: 769px) {
  .signup_container article {
    max-width: 600px;
  }

  .signup_container article > div {
    width: 100%;
  }

  .img_box {
    display: none;
  }

  .form_box {
    border-radius: 10px;
  }
}
