.themeButton {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  transition: color 0.3s ease;
}

.themeButton i {
  transition: transform 0.3s ease;
}

.themeButton:hover i {
  transform: scale(1.1);
}
