/* Light theme colors */
:root {
  --white-color: #fff;
  --black-color: #333;
  --interface-color: #b3b5c0;
  --assistant-color: #fff;
  --modal-color: #424242;
  --filter: brightness(100);
}

/* Dark theme colors */
[data-theme="dark"] {
  --white-color: #333;
  --black-color: #fff;
  --interface-color: #fff;
  --assistant-color: #555;
  --modal-color: #fff;
  --filter: brightness(0);
}

.main {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: auto;
}

.main::-webkit-scrollbar {
  display: none;
}
